/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
resources/views/api-doc/favicon-16x16.png
resources/views/api-doc/favicon-32x32.png
resources/views/api-doc/index.html
resources/views/api-doc/oauth2-redirect.html
resources/views/api-doc/swagger-ui-bundle.js
resources/views/api-doc/swagger-ui-bundle.js.map
resources/views/api-doc/swagger-ui-standalone-preset.js
resources/views/api-doc/swagger-ui-standalone-preset.js.map
resources/views/api-doc/swagger-ui.css
resources/viewsapi-doc/swagger-ui.css.map
resources/views/api-doc/swagger-ui.js
resources/views/api-doc/swagger-ui.js.map
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/php.xml
.idea/misc.xml
.idea/modules.xml
.idea/neptune.iml
.idea/php-test-framework.xml
.idea/vcs.xml
.idea/workspace.xml
