/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/api-doc/favicon-16x16.png
/api-doc/favicon-32x32.png
/api-doc/index.html
/api-doc/oauth2-redirect.html
/api-doc/swagger-ui-bundle.js
/api-doc/swagger-ui-bundle.js.map
/api-doc/swagger-ui-standalone-preset.js
/api-doc/swagger-ui-standalone-preset.js.map
/api-doc/swagger-ui.css
/api-doc/swagger-ui.css.map
/api-doc/swagger-ui.js
/api-doc/swagger-ui.js.map
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
